<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NPAVAutomationSuite" verbose="1" parallel="false">

    <!-- Register TestNG Listeners -->
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <!-- Define test groups -->
    <test name="NPAV Functional Tests">
        <classes>
            <class name="test.HomePageTest"/>
            <class name="test.DownloadPageTest"/>
            <class name="test.BlogsPageTest"/>
            <class name="test.SocialMediaPageTest"/>
        </classes>
    </test>

</suite>
